<div data-controller="elm-initializer" data-elm-initializer-line-items-value="<%= @line_items.as_json %>">
  <-- elm takes over -->
</div>

<p>Front page</p>

<p>Go to <%= link_to "Hello", hello_path %></p>
